<div id="<%= dom_id usuario %>">
  <div>
    <strong>Login:</strong>
    <%= usuario.login %>
  </div>

  <div>
    <strong>Nome:</strong>
    <%= usuario.nome %>
  </div>
<div>
    <strong>Senha:</strong>
    <%= usuario.senha %>
  </div>

  <div>
    <strong>Avatar:</strong>
    <%= usuario.avatar %>
  </div>

</div>
